*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial;
    margin: 0 auto;
    background-color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#header {
    color: White;
    font-family: Arial,Heveltica,sans-serif;
    font-size: 9pt;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 20;
}
#logo {
    position: absolute;
    left: 45px;
    top: 8px;
}
.header_top {
    background-image: url("../img/header/bg.png");
    background-repeat: repeat-x;
    height: 60px;
    padding: 10px 10px 0;
    text-align: right;   /* sắp xếp nội dung nằm ngang về phía bên phải*/
}
#searchform {
    display: flex;
    justify-content: right
}
#searchform .item {
    margin-left: -17px;
    padding: 0 10px;
    display: flex;
}
#searchform #register{
    line-height:15px; 
    margin: 5px;
}
#searchform #register a {
    color: White;
}
#searchform .search_textbox {
    border: 1px solid #F7941D;
    color: #F7941D;
    font-size: 11px;
    height: 23px;
    left: 24px;
    position: relative;
    width: 220px;
}
#searchform .search_button {
    background-color: #FFC3A5;
    height: 23px;
    position: relative;
}
#menu ul {
    display: flex;
    justify-content: right;
    height: 20px;
    margin: 11px 0 0;
}
#menu ul li {
    border-right: 1px solid #FFBC9B;
    height: 10px;
    padding: 0 5px;
    text-transform: lowercase;/* item kiểu chữ thường */
}
#menu ul li a {
    color: White;
    display: block;
    font-size: 17px;
    height: 23px;
    margin-top: -5px;
    padding: 1px 7px;
}
#menu ul li.cartimg {
    border-right: 0 none;
    margin: -5px 0 10px 0px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
}
#menu ul li a.menu-active {
    background: none repeat scroll 0 0 #831d1d;
    border: 1px solid #F9CFB6;
    border-radius: 5px 5px 5px 5px;
    height: 15px !important;
    padding-bottom: 5px !important;
}
#menu ul li a.active, #menu ul li a:hover {
    background-color: White;
}
#menu ul li .active, #menu ul li:hover a {
    border-radius: 3px 3px 0 0;
    color: #E0611D;
}
#flag {
    margin-top: 5px;
}
#flag img:hover {
    cursor: pointer;
}
